/* Ini CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.text-description{
    font-size: 16px;
    color: rgb(121, 141, 163);  
}

.main-header{
    display: flex;
    justify-content: space-between;
}

nav {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

nav > a {
    border: 1px solid;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    /* border-radius: 6px; */
}

.home-icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
}

#nav-home {
    border-radius: 4px 0px 0px 4px;
}

#nav-call {
    border-radius: 0px 4px 4px 0px;
}

.banner-img {
    height: 320px;
    background-image: url(https://picsum.photos/750);
    background-size: cover;
    background-position: center;
}

.content-header {
    text-align: center;
}

.content-header > h1 {
    margin:32px 0px;
}

.content-header > p {
    color: rgb(121, 141, 163);
    margin: 50px 0px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    margin: 0px 60px;
}

.main-container form {
    display: grid;
    row-gap: 50px;
}

.form-description {
    margin: 30px 70px 0px 70px;
    padding: 0;
    max-height: 120px;
}

.form-container {
    display: grid;
    gap: 10px;
    margin: 0 70px;
}

.form-container > label {
    font-weight: bold;
    font-size: 14px;
}

.form-container > input,
.form-container > select {
    height: 40px;
    margin-bottom: 30px;
}

.form-container > button {
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 4px;
    /* margin: 10px 0px; */
    margin-bottom: 50px;
}
/* .main-item {
    flex:1;
} */

.main-container > aside {
    flex: 1.8
}

.main-container > form {
    flex: 1;
}

form {
    background-color: aliceblue;
}

.our-package-header {
    padding: 32px 0px;
    margin-top: 24px;
    background-color: aliceblue;
}

footer {
    margin-top: 24px;
    text-align: center;
}